node_modules
dist
.tmp
bower_components
test/bower_components
test/

*.log

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Ignore cache
/.sass-cache
/.cache

sitemap.xml
sitemap.xml.gz
api/wp-blog-header.php
api/wp-cron.php
api/wp-mail.php
api/wp-settings.php
readme.html
api/wp-links-opml.php
api/wp-signup.php
api/wp-activate.php
api/wp-config-sample.php
api/wp-load.php
api/wp-trackback.php
api/wp-login.php
xmlrpc.php
api/wp-admin/
api/wp-includes/
api/wp-content/plugins/duplicator/
api/wp-snapshots/
api/wp-content/languages/
api/wp-config.php
api/wp-content/advanced-cache.php
api/wp-content/backup-db/
api/wp-content/backups/
api/wp-content/blogs.dir/
api/wp-content/cache/
api/wp-content/upgrade/
api/wp-content/uploads/
api/wp-content/api/wp-cache-config.php
api/wp-content/plugins/hello.php
api/wp-content/plugins/rest-api

.htaccess
license.txt
readme.html
.idea
