<header class="dash-header">
    <a href="javascript:;" class="menu-trigger">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
        Dashboard
    </a>

    <button type="button"
            class="pull-right"
            bs-dropdown="menuDropdown"
            aria-haspopup="true"
            placement="bottom-right"
            aria-expanded="false">
            <img src="images/more.svg" height="22">
    </button>

    <button type="button"
            class="pull-right"
            bs-dropdown="notificationDropdown"
            aria-haspopup="true"
            placement="bottom-right"
            aria-expanded="false">
            <span class="notification-number">{{ notificationAmount }}</span>
            <img src="images/bell.svg" height="22">
    </button>
</header>