<header class="dash-header" ng-controller="DashboardHeaderController">
    <a href="javascript:;"
       class="menu-trigger dash-header-item"
       data-placement="left"
       data-template-url="partials/aside/aside.tpl.html"
       data-animation="am-slide-left"
       bs-aside="sideMenu">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
        Dashboard
    </a>

    <!-- You can use a custom html template with the `data-template` attr -->
    <!--<button type="button"-->
            <!--class="btn btn-lg btn-danger"-->
            <!--data-template-url="partials/aside/aside.tpl.html"-->
            <!--data-placement="left"-->
            <!--data-animation="am-slide-left"-->
            <!--bs-aside="aside"-->
            <!--data-container="body">-->
        <!--Custom aside-->
        <!--<br>-->
        <!--<small>(using data-template)</small>-->
    <!--</button>-->

    <button type="button"
            class="pull-right dash-header-item"
            bs-dropdown="menuDropdown"
            aria-haspopup="true"
            placement="bottom-right"
            aria-expanded="false">
            <img src="images/more.svg" height="22">
    </button>

    <button type="button"
            class="pull-right dash-header-item"
            bs-dropdown="notificationDropdown"
            aria-haspopup="true"
            placement="bottom-right"
            aria-expanded="false">
            <span class="notification-number">{{ notificationAmount }}</span>
            <img src="images/bell.svg" height="22">
    </button>
</header>