<home-header></home-header>

<div class="container" ng-controller="homeController">
    <div class="auth-tab">
        <ul>
            <li ng-class="{ active: isSet(1) }">
                <a href ng-click="setTab(1)">Home</a>
            </li>
            <li ng-class="{ active: isSet(2) }">
                <a href ng-click="setTab(2)">Registration</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div ng-show="isSet(1)">
         <form>
            <div class="form-group fancy-form-group">
                <input type="text" class="form-control" id="username" ng-model="login.username">
                <label for="username">Username</label>
            </div>

            <div class="form-group fancy-form-group">
                <input type="password" class="form-control" id="password" ng-model="login.password">
                <label for="password">Password</label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remembar Me
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-full">Submit</button>
        </form>
    </div>

    <div ng-show="isSet(2)">
      <form>
            <div class="form-group fancy-form-group">
                <input type="text" class="form-control" id="reg.username" ng-model="reg.username">
                <label for="reg.username">Username</label>
            </div>

            <div class="form-group fancy-form-group">
                <input type="email" class="form-control" id="reg.email" ng-model="reg.email">
                <label for="reg.email">Password</label>
            </div>

            <div class="form-group fancy-form-group">
                <input type="password" class="form-control" id="reg.password" ng-model="reg.password">
                <label for="reg.password">Password</label>
            </div>

            <div class="form-group fancy-form-group">
                <input type="password" class="form-control" id="reg.repeatPassword" ng-model="reg.repeatPassword">
                <label for="reg.repeatPassword">Repeat Password</label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> I AGREE TO ALL TERMS AND CONDITIONS
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-full">Submit</button>
        </form>
  </div>

</div>