/*
main color palette
==================
*/

$color-primary          :     #4a90e2;
$color-green            :     #7ed321;
$color-red              :     #e46d7c;
$color-text-title       :     #4a4a4a;
$color-text-normal      :     #afafaf;
$color-gray             :     #f2f2f2;
$color-white            :     #fff;
$color-black            :     #000;
