body {
  font-family: $baseFont;
}

*:focus {
  outline: 0;
}

.mobile-container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 960px;
  margin: auto;
}

@media (max-width: 600px) {
  .mobile-container {
    max-width: 300px;
    margin: auto;
  }
}

.rn-carousel {
  float: left;
  width: 100%;
  img {
    max-width: 100%;
  }
}

.clearfix {
  @include clearfix();
}